/* ---------- VARIABLES ---------- */
:root {
    --font-primary: 'Lexend', 'Kanit', 'Open Sans', 'NATS', sans-serif;

    --guinda: #7b2048;
    --guinda-mid: #93315c;
    --guinda-light: #b54b77;

    --text-light: #ffffff;

    --sidebar-width: 64px;
    --sidebar-expanded: 240px;

    --header-height: 70px;
    --footer-height: 70px;
}

/* ---------- GLOBAL ---------- */
* { box-sizing: border-box; }
html,body { height: 100%; }

body {
    margin: 0;
    padding: 0;
    background: #fafafa;
    font-family: var(--font-primary);
    color: #222;
}

/* ---------- MAIN  ---------- */
.content {
    margin-left: calc(var(--sidebar-width) + 40px);

    margin-top: calc(var(--header-height) + 78px + 20px + 20px);

    margin-bottom: calc(var(--footer-height) + 40px);

    padding: 28px;
    box-sizing: border-box;
}
